[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
jupyterlab = "*"
ipykernel = "*"
googlenews = "*"
transformers = {extras = ["torch"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
